* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafaf9;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 90%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.container-grid {
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  background-color: #ffffff;
  border-radius: 1rem;
  margin: 3px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.container-flex {
  margin: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container > div {
  color: #18181b;
}
.container-flex > div {
  margin: 5px;
  display: block;
}

.star {
  background-color: #f5c044;
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  border-radius: 50%;
  line-height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.title {
  color: #18181b;
  font-size: 36px;
}

.description {
  font-size: 20px;
  color: #52525a;
}

ul {
  list-style: none;
  color: #52525a;
}

li {
  margin-top: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

li img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.logo {
  width: 100px;
}
.container-flex-stars {
  margin: 3px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.container-flex-stars > img {
  width: 20px;
}

