* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 90%;
  border: 3px solid #000;
  margin: auto;

  font-size: 20px;
  line-height: 50px;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
}
.container-grid {
  border: 3px solid #ff4885;
  margin: 3px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.container-flex {
  border: 3px solid #4b0090;
  margin: 3px;
}

.container > div {
  color: #18181b;
  background-color: #2f89fc;
}
.container-flex > div {
  margin: 5px;
  display: block;
  background-color: #ffe8f0;
}
.container-grid > div {
  margin: 5px;
  display: block;
  background-color: #cbe2fe;
}